[submodule "Back-end"]
	path = Back-end
	url = https://github.com/Ammad-Ashraf/QR-Based-Restaurant-Managment-System-Backend.git
[submodule "Front-end"]
	path = Front-end
	url = https://github.com/Ammad-Ashraf/QR-Based-Restaurant-Managment-System-Frontend.git
